// Global variables
$bg_color: #f1f1f1;
$header_colour: #000;
$base_font_size: 62.5%;

// Font Variables
$default_font: 'Slabo 27px', serif;
$open-sans: 'Open Sans', sans-serif;

// Textbox
$border_text_box: #bfbfbf;
